a[class^=country-] {
    background-image: url("/assets/img/estrutura/flags_sprite.png");
    background-repeat: no-repeat;
    height: 20px;
    width: 26px;
	display:block;
}

.country-AD {background-position:0 -1px}
.country-AE {background-position:0 -23px}
.country-AF {background-position:0 -45px}
.country-AG {background-position:0 -67px}
.country-AI {background-position:0 -89px}
.country-AL {background-position:0 -111px}
.country-AM {background-position:0 -133px}
.country-AN {background-position:0 -155px}
.country-AO {background-position:0 -177px}
.country-AQ {background-position:0 -199px}
.country-AR {background-position:0 -221px}
.country-AS {background-position:0 -243px}
.country-AT {background-position:0 -265px}
.country-AU {background-position:0 -287px}
.country-AW {background-position:0 -309px}
.country-AX {background-position:0 -331px}
.country-AZ {background-position:0 -353px}
.country-BA {background-position:0 -375px}
.country-BB {background-position:0 -397px}
.country-BD {background-position:0 -419px}
.country-BE {background-position:0 -441px}
.country-BF {background-position:0 -463px}
.country-BG {background-position:0 -485px}
.country-BH {background-position:0 -507px}
.country-BI {background-position:0 -529px}
.country-BJ {background-position:0 -551px}
.country-BM {background-position:0 -573px}
.country-BN {background-position:0 -595px}
.country-BO {background-position:0 -617px}
.country-BR {background-position:0 -639px}
.country-BS {background-position:0 -661px}
.country-BT {background-position:0 -683px}
.country-BV {background-position:0 -705px}
.country-BW {background-position:0 -727px}
.country-BY {background-position:0 -749px}
.country-BZ {background-position:0 -771px}
.country-CA {background-position:0 -793px}
.country-CC {background-position:0 -837px}
.country-CD {background-position:0 -859px}
.country-CF {background-position:0 -881px}
.country-CG {background-position:0 -903px}
.country-CH {background-position:0 -925px}
.country-CI {background-position:0 -947px}
.country-CK {background-position:0 -969px}
.country-CL {background-position:0 -991px}
.country-CM {background-position:0 -1013px}
.country-CN {background-position:0 -1035px}
.country-CO {background-position:0 -1057px}
.country-CR {background-position:0 -1079px}
.country-CS {background-position:0 -1101px}
.country-CU {background-position:0 -1123px}
.country-CV {background-position:0 -1145px}
.country-CX {background-position:0 -1167px}
.country-CY {background-position:0 -1189px}
.country-CZ {background-position:0 -1211px}
.country-DE {background-position:0 -1233px}
.country-DJ {background-position:0 -1255px}
.country-DK {background-position:0 -1277px}
.country-DM {background-position:0 -1299px}
.country-DO {background-position:0 -1321px}
.country-DZ {background-position:0 -1343px}
.country-EC {background-position:0 -1365px}
.country-EE {background-position:0 -1387px}
.country-EG {background-position:0 -1409px}
.country-EH {background-position:0 -1431px}
.country-ER {background-position:0 -1475px}
.country-ES {background-position:0 -1497px}
.country-ET {background-position:0 -1519px}
.country-FI {background-position:0 -1585px}
.country-FJ {background-position:0 -1607px}
.country-FK {background-position:0 -1629px}
.country-FM {background-position:0 -1651px}
.country-FO {background-position:0 -1673px}
.country-FR {background-position:0 -1695px}
.country-GA {background-position:0 -1717px}
.country-GB, .country-EN {background-position:0 -1739px}
.country-GD {background-position:0 -1761px}
.country-GE {background-position:0 -1783px}
.country-GF {background-position:0 -1805px}
.country-GH {background-position:0 -1827px}
.country-GI {background-position:0 -1849px}
.country-GL {background-position:0 -1871px}
.country-GM {background-position:0 -1893px}
.country-GN {background-position:0 -1915px}
.country-GP {background-position:0 -1937px}
.country-GQ {background-position:0 -1959px}
.country-GR, .country-EL {background-position:0 -1981px}
.country-GS {background-position:0 -2003px}
.country-GT {background-position:0 -2025px}
.country-GU {background-position:0 -2047px}
.country-GW {background-position:0 -2069px}
.country-GY {background-position:0 -2091px}
.country-HK {background-position:0 -2113px}
.country-HM {background-position:0 -2135px}
.country-HN {background-position:0 -2157px}
.country-HR {background-position:0 -2179px}
.country-HT {background-position:0 -2201px}
.country-HU {background-position:0 -2223px}
.country-ID {background-position:0 -2245px}
.country-IE {background-position:0 -2267px}
.country-IL {background-position:0 -2289px}
.country-IN {background-position:0 -2311px}
.country-IO {background-position:0 -2333px}
.country-IQ {background-position:0 -2355px}
.country-IR {background-position:0 -2377px}
.country-IS {background-position:0 -2399px}
.country-IT {background-position:0 -2421px}
.country-JM {background-position:0 -2443px}
.country-JO {background-position:0 -2465px}
.country-JP, .country-JA {background-position:0 -2487px}
.country-KE {background-position:0 -2509px}
.country-KG {background-position:0 -2531px}
.country-KH {background-position:0 -2553px}
.country-KI {background-position:0 -2575px}
.country-KM {background-position:0 -2597px}
.country-KN {background-position:0 -2619px}
.country-KP {background-position:0 -2641px}
.country-KR {background-position:0 -2663px}
.country-KW {background-position:0 -2685px}
.country-KY {background-position:0 -2707px}
.country-KZ {background-position:0 -2729px}
.country-LA {background-position:0 -2751px}
.country-LB {background-position:0 -2773px}
.country-LC {background-position:0 -2795px}
.country-LI {background-position:0 -2817px}
.country-LK {background-position:0 -2839px}
.country-LR {background-position:0 -2861px}
.country-LS {background-position:0 -2883px}
.country-LT {background-position:0 -2905px}
.country-LU {background-position:0 -2927px}
.country-LV {background-position:0 -2949px}
.country-LY {background-position:0 -2971px}
.country-MA {background-position:0 -2993px}
.country-MC {background-position:0 -3015px}
.country-MD {background-position:0 -3037px}
.country-ME {background-position:0 -3059px}
.country-MG {background-position:0 -3081px}
.country-MH {background-position:0 -3103px}
.country-MK {background-position:0 -3125px}
.country-ML {background-position:0 -3147px}
.country-MM {background-position:0 -3169px}
.country-MN {background-position:0 -3191px}
.country-MO {background-position:0 -3213px}
.country-MP {background-position:0 -3235px}
.country-MQ {background-position:0 -3257px}
.country-MR {background-position:0 -3279px}
.country-MS {background-position:0 -3301px}
.country-MT {background-position:0 -3323px}
.country-MU {background-position:0 -3345px}
.country-MV {background-position:0 -3367px}
.country-MW {background-position:0 -3389px}
.country-MX {background-position:0 -3411px}
.country-MY {background-position:0 -3433px}
.country-MZ {background-position:0 -3455px}
.country-NA {background-position:0 -3477px}
.country-NC {background-position:0 -3499px}
.country-NE {background-position:0 -3521px}
.country-NF {background-position:0 -3543px}
.country-NG {background-position:0 -3565px}
.country-NI {background-position:0 -3587px}
.country-NL {background-position:0 -3609px}
.country-NO {background-position:0 -3631px}
.country-NP {background-position:0 -3653px}
.country-NR {background-position:0 -3675px}
.country-NU {background-position:0 -3697px}
.country-NZ {background-position:0 -3719px}
.country-OM {background-position:0 -3741px}
.country-PA {background-position:0 -3763px}
.country-PE {background-position:0 -3785px}
.country-PF {background-position:0 -3807px}
.country-PG {background-position:0 -3829px}
.country-PH {background-position:0 -3851px}
.country-PK {background-position:0 -3873px}
.country-PL {background-position:0 -3895px}
.country-PM {background-position:0 -3917px}
.country-PN {background-position:0 -3939px}
.country-PR {background-position:0 -3961px}
.country-PS {background-position:0 -3983px}
.country-PT {background-position:0 -4005px}
.country-PW {background-position:0 -4027px}
.country-PY {background-position:0 -4049px}
.country-QA {background-position:0 -4071px}
.country-RE {background-position:0 -4093px}
.country-RO {background-position:0 -4115px}
.country-RS {background-position:0 -4137px}
.country-RU {background-position:0 -4159px}
.country-RW {background-position:0 -4181px}
.country-SA {background-position:0 -4203px}
.country-SB {background-position:0 -4225px}
.country-SC {background-position:0 -4247px}
.country-SD {background-position:0 -4291px}
.country-SE {background-position:0 -4313px}
.country-SG {background-position:0 -4335px}
.country-SH {background-position:0 -4357px}
.country-SI {background-position:0 -4379px}
.country-SJ {background-position:0 -4401px}
.country-SK {background-position:0 -4423px}
.country-SL {background-position:0 -4445px}
.country-SM {background-position:0 -4467px}
.country-SN {background-position:0 -4489px}
.country-SO {background-position:0 -4511px}
.country-SR {background-position:0 -4533px}
.country-ST {background-position:0 -4555px}
.country-SV {background-position:0 -4577px}
.country-SY {background-position:0 -4599px}
.country-SZ {background-position:0 -4621px}
.country-TC {background-position:0 -4643px}
.country-TD {background-position:0 -4665px}
.country-TF {background-position:0 -4687px}
.country-TG {background-position:0 -4709px}
.country-TH {background-position:0 -4731px}
.country-TJ {background-position:0 -4753px}
.country-TK {background-position:0 -4775px}
.country-TL {background-position:0 -4797px}
.country-TM {background-position:0 -4819px}
.country-TN {background-position:0 -4841px}
.country-TO {background-position:0 -4863px}
.country-TR {background-position:0 -4885px}
.country-TT {background-position:0 -4907px}
.country-TV {background-position:0 -4929px}
.country-TW {background-position:0 -4951px}
.country-TZ {background-position:0 -4973px}
.country-UA {background-position:0 -4995px}
.country-UG {background-position:0 -5017px}
.country-UM {background-position:0 -5039px}
.country-US {background-position:0 -5061px}
.country-UY {background-position:0 -5083px}
.country-UZ {background-position:0 -5105px}
.country-VA {background-position:0 -5127px}
.country-VC {background-position:0 -5149px}
.country-VE {background-position:0 -5171px}
.country-VG {background-position:0 -5193px}
.country-VI {background-position:0 -5215px}
.country-VN {background-position:0 -5237px}
.country-VU {background-position:0 -5259px}
.country-WF {background-position:0 -5303px}
.country-WS {background-position:0 -5325px}
.country-YE {background-position:0 -5347px}
.country-YT {background-position:0 -5369px}
.country-ZA {background-position:0 -5391px}
.country-ZM {background-position:0 -5413px}
.country-ZW {background-position:0 -5435px}
.country-00 {background-position:0 -5457px}